*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0b1328;
    background-color: #04182e;
    color: aliceblue;
}
.container{
    max-width: 660px;
    margin: 140px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 78px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 40px;
    border-radius: 20px;
}
    #ampm {
        color: rgb(235 37 37);
        font-size: 36px;
        margin-top: 36px;
    }
   
